
.header {
    width: 100%;
    backdrop-filter: blur(4px);
    position: sticky;
    top: 0;
    z-index: 50;
}

.headerTransparent {
    background-color: red;
}

.headerColor {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid var(--border-color);
}

.headerContainer {
    margin: 0 auto;
    padding: 0 1rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerNav {
    display: flex;
    align-items: center;
    gap: 1rem;
}
